<!DOCTYPE html>
<html>
<body>
<!-- 
{% for i in list %}
  <a>|{{ i.number1 }} + {{ i.number2 }} = {{ i.total }} |</a>
  
{% endfor %}
-->
<div class="">
  <div id="form-wrapper">
  <form method="">
    <!-- {{ form.as_p }} {% csrf_token %} -->
    {% csrf_token %}
    <label for="num1">num1:</label><br>
    <input type="text" id="num1" name="num1" ><br>
    <label for="num2">num2:</label><br>
    <input type="text" id="num2" name="num2" ><br><br>
    <input type="submit" value="Submit" >
  </form> 
  <div id="result"></div>
  </div>
</div>
<script type="text/javascript">
    let port = window.location.port;
    let url_api = 'http://127.0.0.1:' + port + '/api-twonumber/';
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');
    function concatNumberToUrl(){
      let num1 = document.getElementById('num1').value;
      let num2 = document.getElementById('num2').value;
      url_api = url_api + num1 + '/' + num2 + '/';
    }
    let form = document.getElementById('form-wrapper');
    form.addEventListener('submit', function(e){
      e.preventDefault();
      concatNumberToUrl();
      console.log(url_api);
      fetch(url_api, {
        method: 'GET',
        headers: {
          'Content-type': 'application/json',
					'X-CSRFToken': csrftoken,
        },
        
      })
      .then(function(response) {
        if(!response.ok) {
           throw new Error("HTTP error, status = " + response.status);
        }
        let myjson_data = response.json();
        return myjson_data;
      })
      .then(function(myjson){
        let result = '<p>' + myjson.total + '</p>';
        document.getElementById('result').innerHTML = result;
        url_api = 'http://127.0.0.1:' + port + '/api-twonumber/';
      })
      .catch(function(error) {
        document.getElementById('result').innerHTML = "Đã có lỗi xảy ra!!";
        url_api = 'http://127.0.0.1:' + port + '/api-twonumber/';
      })
    });
  
</script>
</body>
</html>
